.cl-modal {
  position: fixed;
  inset: 0px;
}
.cl-modal__backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.cl-modal__content {
  background-color: rgb(255, 255, 255);
  width: 400px;
  padding: 25px;
}
